<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="assets/profile-picture.jpg" alt="const self = this;">
  <h1>
    Hi, I'm Mike!
  </h1>
  <div class="paragraph">
    I’m a Tech Lead at BBD in the R&D team, specialising on designing and building for the web. I’ve been hacking on the web
    since Geocities was a thing, have a long-lived love affair with JavaScript, and have (almost) come to terms with the
    fact that I will never have a programmer beard. I have been working as a professional software developer for over 12
    years. While I have worked on some interesting large-scale enterprise applications, it is the challenges of the public
    web that really appeal to me - having earned my stripes on high volume transactional websites. I work primarily in JavaScript,
    C# and Java, and have shipped production applications in a variety of frameworks.
    <br />
    <a href="https://twitter.com/mikegeyser/">@mikegeyser</a>
  </div>

</div>