:host {
  display: block;
  max-width: 1000px;
  margin: 10em auto;
}

:host h1 {
  font-size: 48pt;
  float: left;
  margin: 0 0.5em;
}

:host img {
  height: 20em;
  border-radius: 20em;
  float: left;
}

:host div.paragraph {
  display: block;
  float: left;
  width: 30em;
  text-align: left;
  font-size: 15pt;
  line-height: 1.5em;
  margin: 0 2em;
}

:host a {
  margin-top: 1.5em;
  float: left;
}
