.container {
  --profile-picture-dimension: 25vw;

  display: grid;
  grid-template-columns: var(--profile-picture-dimension) auto;
}

.container > profile-picture {
  grid-column-start: 1;
}

.container > h1 {
  grid-column-start: 2;
  align-self: end;
  justify-self: end;
  margin: 0 0.2em;
}

.container > .paragraph {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.container > .paragraph {
  padding: 0;
  text-align: justify;
}

@media (min-width: 460px) {
  h1 {
    font-size: 4em;
  }

  .container > .paragraph {
    float: left;
    margin: 1em;
  }
}