.container {
    display: flex;
}

.profile-picture {
    height: 25vw;
    width: 25vw;
    overflow: hidden;
    border-radius: 20em;
    position: relative;
    float: left;
    margin: 1em 1em 1em 0;
}

  .profile-picture svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 500ms linear;
  }

  .profile-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 500ms linear;
  }

  h1 {
    font-size: 2em;
    margin: 1em 0 0.5em 0;
    font-family: var(--app-heading-font);
  }

  div.paragraph {
    padding: 0;
    text-align: justify;
    line-height: 1.8em;
  }

  @media (min-width: 460px) {
    .profile-picture {
      height: 20em;
      width: 20em;
    }

    h1 {
      font-size: 4em;
    }

    div.paragraph {
      float: left;
      width: 35em;
      margin-left: 2em;
  }