:root {
  --max-width: 1000px;
  --header-height: 3.5em;
  --footer-height: var(--header-height);
  --main-min-height: 77vh;
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --main-font: 'Open Sans', sans-serif;
  --accent-font: 'Indie Flower', sans-serif;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: var(--main-font);
  color: var(--darkgray);
  background-color: var(--white);
  font-size: 13pt;
  line-height: 19pt;
}

@media (min-width: 460px) {
  html,
  body {
    font-size: 15pt;
    line-height: 20pt;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--accent-font);
}

h2 {
  font-size: 28pt;
  line-height: 32pt;
}

h2 > a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 460px) {
  .container > h1 {
    font-size: 24pt;
    line-height: 28pt;
    padding: 15px !important;
  }
}

/* Nav css */
header {
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--lightgray);
}

header:after {
  content: '';
  display: table;
  clear: both;
}

nav {
  max-width: var(--max-width);
  height: var(--header-height);
  display: flex;
  margin: auto;
  padding: 1em 0;
}

nav > * {
  flex: 1 1;
}

nav > h1 {
  margin: 0;
  font-size: 2em;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

nav > ul > li {
  flex: 0 1;
  margin: 0 2em;
}

nav a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 460px) {
  header {
    --header-height: 7em;
    --tappable-height: 42px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--lightgray);
  }
  
  nav {
    flex-direction: column;
    padding: 0;
  }

  nav a {
    display: inline-block;
    height: var(--tappable-height);
  }

  nav > h1 {
    margin: 18px 16px 0 16px;
  }

  nav > ul {
    width: 100%;
    height: var(--tappable-height);
    /* margin: 8px 0; */
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  nav > ul > li {
    height: var(--tappable-height);
  }

  nav > ul > li > a {
    display: inline-block;
    height: var(--tappable-height);
    padding-top: 12px;
  }
}

/* Main content*/
main {
  max-width: var(--max-width);
  min-height: var(--main-min-height);
  margin: auto;
  padding: 24px;
}

time {
  font-style: italic;
  padding: 0 0 0 8px;
}

p {
  
  text-align: justify;
}

p:last-child {
  margin-bottom: 0;
}

p > img {
  display: block;
  margin: auto;
}

section {
  padding: 24px;
}

section > * {
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}

/* section:nth-of-type(even) {
  background: rgb(247,247,247);
} */

/* Footer*/
footer {
  display: block;
  height: var(--footer-height);
  margin-top: 5em;
  padding: 2em 2em 4em 2em;
  background-color: var(--darkgray);
  color: var(--white);
  font-size: 12pt;
}

footer > div {
  max-width: var(--max-width);
  margin: auto;
  text-align: center;
}

footer > div > a {
  color: var(--white);
}

@media (max-width: 460px) {
  footer {
    --footer-height: 9em;
    font-size: 10pt;
  }
}

/* Who knows what's below here.... */
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
    'Nimbus Mono L', 'Courier New', Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: ' ';
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Embedded video */
iframe.embedded-video {
  width: 400px;
  height: 250px;
  float: left;
  margin: 0 1em 0.5em 1em;
}

@media (max-width: 460px) {
  iframe.embedded-video {
    float:none;
    margin: auto;
    width: 100%;
    height: auto;
  }
}

/* Sketchiness (CSS paint worklet) */
.sketchy-underline {
  --lineNumber: 3;
  --lineSpread: 1;
  --lineWidth: 3;
  background-image: paint(sketchyUnderline);
  padding-bottom: 15px;
}

header.sketchy-underline, 
section.sketchy-underline {
  --lineNumber: 2;
  --lineWidth: 2;
  border-bottom: none;
  background-image: paint(sketchyUnderline);
}

section.sketchy-underline {
  padding-bottom: 45px;
}

h1.sketchy-underline {
  padding: 0 15px 45px 15px;
}

.sketchy-link {
  --lineNumber: 1;
  --lineColor: blue;
  --lineWidth: 1;
  --lineSpread: 1;
  padding: 0 15px 15px 15px;
}

.sketchy-link > a {
  text-decoration: none;
}
