---
layout: home.njk
tags:
  - nav
navtitle: Articles
---

{% for article in collections.articles | reverse %}
  <section class="rough-underline">
    <article>
      <h2><a href="/article/{{article.data.key}}">{{article.data.title}}</a></h2>
      <div>{{ article.date | readableDate }}</div>
      <p>{{ article.data.description }}</p>
      <a href="/article/{{article.data.key}}">Read more...</a>
    </article>
  </section>
{% endfor %}