---
layout: home.njk
tags:
  - nav
navtitle: Articles
---

{% for article in collections.article | reverse %}
  <article>
    <h3><a href="/article/{{article.data.key}}">{{article.data.title}}</a></h3>
    <div>{{ article.date | readableDate }}</div>
    <p>{{ article.data.description }}</p>
  </article>
{% endfor %}