---
layout: home.njk
title: home // mikerambl.es
tags:
  - nav
navtitle: Home
---

{% block head %}
<link rel="stylesheet" href="css/home.css">
{% endblock %}

<div class="container">
  <profile-picture></profile-picture>

  <h1 class="rough-underline">
    Hi, I'm Mike!
  </h1>
  <div class="paragraph">

    <p>
      I’m a Google Developer Expert in Web Technologies from Johannesburg, South Africa, where I work in the R&D
      team at a company called BBD. I am a co-organiser of the Jozi.JS meetup group, and a frequent technical
      speaker. I have been hacking on the web since Geocities was a 'thing', and have the keening wail of dialup
      modem etched into my subconscious.
    </p>
    <p>
      While I am fluent in several ‘golden hammer’ programming languages, I have a long-lived love affair with
      JavaScript, and cannot see its (many, obvious) flaws. I have worked on lots of interesting enterprise
      applications, but it is the challenges of the public web that really appeal to me - having spent my
      formative years building transactional websites.
    </p>
    <p>
      I am always eager to talk about the web platform, but be warned, I am prone to hyperbole.
    </p>

    <div>
      <a href="https://twitter.com/mikegeyser/" rel="me" target="_blank">twitter // @mikegeyser</a>
    </div>

    <div>
      <a href="https://github.com/mikegeyser" rel="me" target="_blank">github // mikegeyser</a>
    </div>
  </div>
</div>