---
layout: home.njk
title: home // mikerambl.es
tags:
  - nav
navtitle: Home
---

{% block head %}
<link rel="stylesheet" href="css/home.css" />
{% endblock %}

<div class="container">
  <profile-picture></profile-picture>

  <h1 class="rough-underline">Hi, I'm Mike!</h1>
  <div class="paragraph">
    <p>
      I’m a web developer from Johannesburg, South Africa, and a
      <a
        href="https://developers.google.com/community/experts/directory/profile/profile-mike_geyser"
        >Google Developer Expert</a
      >
      in Web Technologies, particularly focussed on performance and web
      capabilities. I am a co-organiser of the Jozi.JS meetup group, an
      erstwhile core contributor to the
      <a href="https://almanac.httparchive.org/">HttpArchive Almanac</a> and a
      frequent technical speaker. I currently work on a site called
      <a href="https://www.tes.com/">tes.com</a>, where our mission is to ensure
      that every child has a great teacher, and I try and make sure that our
      site is as fast as it can be. I have been hacking on the web since
      Geocities was a 'thing', and have the keening wail of dialup modem etched
      into my subconscious.
    </p>
    <p>
      While I am fluent in several ‘golden hammer’ programming languages, I have
      a long-lived love affair with JavaScript, and cannot see its (many,
      obvious) flaws. I have worked on lots of interesting enterprise
      applications, but it is the challenges of the public web that really
      appeal to me - having spent my formative years building transactional
      websites.
    </p>
    <p>
      I am always eager to talk about the web platform, but be warned, I am
      prone to hyperbole.
    </p>

    <div>
      <a href="https://twitter.com/mikegeyser/" rel="me" target="_blank"
        >twitter // @mikegeyser</a
      >
    </div>

    <div>
      <a href="https://github.com/mikegeyser" rel="me" target="_blank"
        >github // mikegeyser</a
      >
    </div>
  </div>
</div>
