---
layout: base.njk
---
<h1>
    <rough-underline>
        {{ title }}
    </rough-underline>
</h1>
<time datetime="{{date}}">Originally written on {{ date | readableDate }}. Revised on {{revised | readableDate}}.</time>

{{ content | safe }}

