<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-tomorrow.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <script src="{{ '/js/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js' | url }}"></script>
    <script src="{{ '/js/index.js' | url }}" type="module"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% include 'nav.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <div>
        The content on this site, where applicable, is published under the
        <a href="https://github.com/mikegeyser/self/issues/1">
          Creative Commons CC BY-NC-SA 4.0 license
        </a>.
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>