{% extends 'base.njk' %}

{% block scripts %}
  <script src="js/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="js/index.js" type="module"></script>
{% endblock %}